body {
  font-family: Arial, sans-serif;
  background-color: #d14836;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding: 20px;
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.main-subtitle {
  font-size: 1.5rem;
}

/* LAYOUT */
.body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

/* NAV */
.nav {
  padding: 15px;
  border-radius: 5px;
  order: 1;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul li button {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 2px 4px;
  border: 1px solid #d4d4d4;
  background-color: #f1f1f1;
  cursor: pointer;
  text-wrap: nowrap;
}

ul li button:not(.button-selected):hover {
  background-color: #fff;
  color: #e74c3c;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e74c3c;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #d14836;
  padding: 5px 20px 5px 20px;

}

.button-selected {
  background-color: white;
  color: #e74c3c;
  font-weight: bold;
}

/* MAIN CONTENT */
.content {
  display: flex;
  background-color: #ffffff;
  color: #333;
  padding: 20px;
}

.content-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #b62c1e;
}

.content-subtitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 15px;
  color: #b62c1e;
}

.content-text {
  font-size: 0.875rem;
  line-height: calc(1 / 0.75);
  margin: 0;
}

a {
  color: #e74c3c;
  text-decoration: none;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

/* ASIDE */
.aside {
  background-color: #F6DAD7;
  padding: 15px;
  color: #d14836;
}

.aside h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

/* FOOTER */
footer {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 0.7rem;
}
